:root {
    background-color: #121212;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    --copyright-color: #fafafa9f
}

.site {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    .under {
        margin-top: auto;
        display: flex;
        justify-content: center;

        .copyright {
            color: var(--copyright-color, #fafafa9f);
        }
    }
}


